*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --hue: 194;
  --bg-color:hsla(var(--hue), 5%, 7%);
  --text-color:hsla(var(--hue), 40%, 98%);
  --primary-color:hsla(var(--hue), 100%, 63%);
  --controls-bg-color:hsla(var(--hue), 0%, 14%) ;
  --button-secondary:hsla(var(--hue), 40%, 98%);

  font-size: clamp(40%, 1% + 2vw, 62.5%);
}

html.light{
  --bg-color:hsla(var(--hue), 40%, 98%, 1);
  --text-color:hsla(var(--hue), 5%, 7%);
  --controls-bg-color:hsla(var(--hue), 0%, 14%) ;
}

html.light .ph-sun,
html:not(.light) .ph-moon{
  display: none;
}

#toggle-mode{
  position: absolute;
  top: 3.2rem;
  right: 3.2rem;
  font-size: 3.2rem;
  line-height: 0;

  color: var(--text-color);
}

body{
  background: var(--bg-color);
  color: var(--text-color);

  display: grid;
  
  height: 100vh;
  place-content: center;
}
#main{
  display: flex;
}
#app{
  margin-inline: 19.2rem;
  place-content: center;
}

#cards{
  display: grid;
  grid-template-areas: "A A"
                       "A A";
                       width: 13.8rem;
  height: 15.2rem;
  gap: 3.2rem;
}




.flex{
  display: flex;
}

#timer{
  padding-top:3rem ;
  text-align: center;
  font-family: 'Roboto';
  font-size: 12.7rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;



}

#controls {
  
  
  gap: 4rem;
  
  
}

button{
  background-color: transparent;
  border: 0;
  color: #323238;

  cursor: pointer;
  font-size: 6.8rem;

}

#timer{
  color: var(--text-color);
}

#controls button{
  color: var(--text-color);
}

.btn-card {
  
  border-radius: 2.5rem;
  cursor: pointer;
  font-size: 6.8rem;
  width: 13.8rem;
  height: 15.2rem;
}
.off{
  background-color: transparent;
  border: 0.3rem solid var(--text-color);
  color: var(--text-color);
  
}

.on{
  background-color: var(--primary-color);
  border: 0.3rem solid var(--primary-color);
  color: white;
  
}
.secondary{
  color: var(--button-secondary);
}

.hide{
  display: none;
}